pizza-menu/public/logo192.png
pizza-menu/public/logo512.png
pizza-menu/src/logo.svg
pizza-menu/public/pizzas/focaccia.jpg
pizza-menu/public/pizzas/funghi.jpg
pizza-menu/public/pizzas/margherita.jpg
pizza-menu/public/pizzas/prosciutto.jpg
pizza-menu/public/pizzas/salamino.jpg
pizza-menu/public/pizzas/spinaci.jpg
